.Heart {
    width: 100vw;
    background: #1f1f1f;
    padding: 6%;
    position: relative;
    z-index: 12;
    color: #FBFBFB;
}

.HeartTitle {
    font-family: 'Roboto Serif', serif;
    font-size: 64px;
    font-style: italic;
    color: #FBFBFB;
}

.yellow {
    color: #D1B000;
}

.HeartBody {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    width: 60%;
    padding-top: 5%;
    padding-bottom: 20%;
}

.LeftContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50vw;
}

.RightContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70vw;
}

@media screen and (max-width: 700px) {
    .HeartTitle {
        font-size: 48px;
    }

    .HeartBody {
        font-size: 16px;
        width: 80%;
        padding-bottom: 25%;
    }
}