.footer {
    background: #171717;
    margin: 0;
    color: white;
    font-family: 'Roboto Serif', serif;
    display: flex;
    flex-direction: column;
}

.footer_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 2%;
    padding-bottom: 20px;
    border-bottom: 6px solid #D1B000;
}

.footer_logo {
    width: 60px;
    height: auto;
}

.footer_footer_text {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.23em;
    text-transform: uppercase;

    color: #444444;

}

@media screen and (max-width: 700px) {
    .footer_footer_text {
        font-size: 8px;
    }
}
    